version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: logiglo_backend_postgres
    restart: always
    environment:
      POSTGRES_USER: logiglo
      POSTGRES_PASSWORD: root123
      POSTGRES_DB: logiglo_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: nayanwinspiretech/logiglo_backend_2.0
    container_name: logiglo_backend_2.0
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    environment:
      DATABASE_URL: "postgresql://logiglo:root123@postgres:5432/logiglo_db?schema=public"
      TOKEN_SECRET: "Radhey Radhey"
    volumes:
      - uploads:/logiglo_backend_2.0/Uploads
    command: >
      /bin/sh -c "
      chmod 755 /logiglo_backend_2.0/Uploads &&
      npm run start
      "

volumes:
  pgdata:
  uploads: 